.jumbotron {
  width: 100%;
  z-index: -2;
  background-image: url("../../images/sergei.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  border-bottom: #8b8f97 solid 1px; }
  .jumbotron h1 {
    position: relative;
    right: 20%; }
