#loginForm {
  text-align: center;
  background-color: white;

  h1 {
    color: #8b8f97;
    transition: all 1s ease-in;
    padding-top: 32px;
  }

  input {
    color: #8b8f97;
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .30s ease;
    &:hover {
      background: rgba(#223254, .03);
    }
    &:not(:placeholder-shown) {
     span {
       color: #5A667F;
       transform: translateY(- 26 px);
       //scale(.75)
     }
    }
    &:focus {
      background: none;
      outline: none;
    //  + span color #0077FF;
    //  transform: translateY(-26px) scale(.75);
    //    + . border;
    //  transform: scaleX(1);
    }
  }

  form {
    display: inline-block;
    border-bottom: grey;
    margin-right: 3px;
    color: #8b8f97;
  }

  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .30s ease;
  }

  button {
    display: inline-block;
    color: grey;
    border-bottom: 2px solid #C8CCD4;
    padding: 11px 5px 11px 5px;
    transition: all .30s ease-in-out;
    &:hover {
      background: rgba(#223254, .03);
      cursor: pointer;
    }
  }

}
