.MessageContainer{
  border: solid 1px darkgrey;
  border-radius: 10px;
  //background-color: rgba(153, 200, 211, 0.26);
  background-color: #e5f1f3;
  overflow-y: scroll;
  height: 500px ;
  //position: relative;
  //width: 100vw;
  //height: 400px;
  position: relative;

}

.Message{
  background-color: #007bff;
  border: none;
  margin: 2em;
  padding: 0.5em;
  border-radius: 20px;
  max-width: 30em;
  height: auto;
  position: relative;

  .textProp{
    color: white;
  }

  .authorProp {
    font-weight: bold;
    color: #c6c8d2;
  }

  &.self {
    left: 400px;
    background-color: white;

    .textProp{
      color: #007bff;
    }
  }

}
.messageScroll {
  float: left;
  clear: both;
}